<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->
<head th:replace="~{fragments::head}">
</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">

</div>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{fragments :: all-title-box}">
</div>
<!-- End All Title Box -->

<section id="login-form">
    <div class="noi-dung">
        <div class="form">
            <h2>Forgot Password</h2>
            <div th:if = "${error != null}" class="alert alert-danger text-center">
                <p th:text="${error}"></p>
            </div>
            <div th:if = "${param.success}" class="alert alert-success text-center">
                Password Reset Link sent to your email
            </div>
            <form th:action="@{/forgot-password}" method="post">
                <div class="input-form">
                    <input type="text" placeholder="Please enter the email you registered to reset your password" name="username" required>
                </div>
                <div class="input-form">
                    <input type="submit" value="Send">
                </div>
                <div class="input-form">
                    <p>Do You Already Have An Account ? <a th:href = "@{/login}"> Sign in now </a></p>
                </div>
            </form>
            <!-- <h3>Log In With Social Network</h3>
            <ul class="icon-dang-nhap">
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-google"></i></li>
            </ul> -->
        </div>
    </div>

</section>

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>