<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->
<head th:replace="~{fragments::head}">
</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">

</div>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{fragments :: all-title-box}">
</div>
<!-- End All Title Box -->

<section id="login-form">
    <div class="noi-dung">
        <div class="form">
            <h2>Password Reset</h2>
            <div th:if = "${error != null}" class="alert alert-danger text-center">
                <p th:text="${error}"></p>
            </div>
            <div th:if = "${message != null}" class="alert alert-success text-center">
                <p th:text="${message}"></p>
            </div>
            <form th:action="@{/reset-password}" method="post" th:object="${customerDto}">
                <div class="input-form">
                    <input type="password" placeholder="Please enter new password" th:field="*{password}" required/>
                    <div class="alert alert-danger" th:if = "${#fields.hasErrors('password')}"
                                 th:errors = "*{password}"></div>
                </div>
                <div class="input-form">
                    <input type="password" placeholder="Please confirm new password" th:field="*{confirmPassword}" required/>
                </div>
                <div class="input-form">
                    <p>Do You Already Have An Account ? <a th:href = "@{/login}"> Sign in now </a></p>
                </div>
                <div class="input-form">
                    <input type="submit" value="Reset Password"/>
                </div>
            </form>
        </div>
    </div>

</section>

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>